
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/v17/Solution.VC.db
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/FileContentIndex/35b0d6c6-214c-4da9-b650-1ad1f0fe7667.vsidx
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/v17/ipch/AutoPCH/d0c87f2e65ca2c65/GEOMETRYGENERATOR.ipch
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/v17/ipch/AutoPCH/884ac86f2bf34dc2/WEEK4-5-SHAPEPRACTICE.ipch
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/v17/Browse.VC.opendb
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/v17/Browse.VC.db-wal
Week2-2-InitializeDirect3D/.vs/Week2-2-InitializeDirect3D/FileContentIndex/14a947f4-608c-4603-9ba6-59565197267a.vsidx
